# Byte-compiled / optimized / DLL files
*__pycache__*
*.cache


# Ignore logs:
*.log

# Ignore config files
*config*

# Jupyter NB Checkpoints
*ipynb_checkpoints*

# exclude data from source control by default
develop/data/

# ignore the PEM files needed for connecting to ec2
*.pem