# Byte-compiled / optimized / DLL files
*__pycache__*


# Ignore logs:
*.log

# Ignore config files
*config*

# Jupyter NB Checkpoints
*ipynb_checkpoints*

# exclude data from source control by default
develop/data/

