<html>
<head>
<title>Character Recognizer</title>

<style>

    /* Some CSS styling */
   
    /*positioning the recognize button*/
    .recognizebuttonposition {
        float:left;
        margin-left:-400px;
        margin-top:350px;
    }


</style>

</head>



<body>

    <h1>{{ output }}</h1>    

    <!-- <div class="recognizebuttonposition"> -->
        <form action = "http://localhost:5000">
            <p><input type = "submit" value = "Try Again"></p>
        </form>
    <!-- </div> -->

</body>
</html>

